@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer base {
  * {
    border-color: hsl(var(--border, 214.3 31.8% 91.4%));
  }
  body {
    background-color: hsl(var(--background, 0 0% 100%));
    color: hsl(var(--foreground, 222.2 84% 4.9%));
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
