# ============================================
# UnifiedHealth Web Frontend - Kustomization
# ============================================
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

metadata:
  name: web
  annotations:
    config.kubernetes.io/local-config: "true"

resources:
  - deployment.yaml
  - service.yaml

commonLabels:
  app.kubernetes.io/managed-by: kustomize
  app.kubernetes.io/version: "1.0.0"

images:
  - name: ${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com/unifiedhealth/web
    newTag: latest
