# Grafana Datasources Configuration
# Global SaaS Marketing Platform

apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: false

  - name: Jaeger
    type: jaeger
    access: proxy
    url: http://jaeger:16686
    editable: false

  - name: PostgreSQL
    type: postgres
    url: postgres:5432
    database: marketing
    user: postgres
    secureJsonData:
      password: postgres
    jsonData:
      sslmode: disable
    editable: false

  - name: OpenSearch
    type: grafana-opensearch-datasource
    access: proxy
    url: http://opensearch:9200
    jsonData:
      database: marketing
      timeField: "@timestamp"
      version: "2.11.0"
    editable: false
